body{
    background-color: blanchedalmond;
    text-align: center;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
    
}
p{
    font-family:sans-serif;
    font-size: 19px;
}
img.dona{
    width: 20%;
    height: 40%;

}

div iframe{
    height: 500px;

}